<h1>
  {{title}}
</h1>
<nav>
  <a routerLink="dashboard" routerLinkActive="aktiv">Dashboard</a>
  <a routerLink="cruds" routerLinkActive="aktiv">CRUDs</a>
  <a routerLink="detail/1" routerLinkActive="aktiv">CRUD1</a>
  <a routerLink="childrouting" routerLinkActive="aktiv">Childrouting</a>

  <a routerLink="page2" routerLinkActive="aktiv" [routerLinkActiveOptions]="{exact: true}">Page2</a>
  <a routerLink="page2/1" routerLinkActive="aktiv">Page2/1</a>
  <a routerLink="page2/2" routerLinkActive="aktiv">Page2/2</a>
</nav>

<div class="outlet">
  <router-outlet></router-outlet>
</div>